<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read-IT-Ready</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <nav class="navbar navbar-dark bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Read-IT-Ready</a>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <main>
    {{{ body }}}
  </main>
  <footer>
    Thanks for visiting!
  </footer>

</body>

</html>