<form class="form-group login-form">
  <div class="form-floating mb-3">
    <input type="text" class="form-control general-form" id="email-login" placeholder="name@example.com">
    <label for="email-login">Email Address</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control general-form" id="password-login" placeholder="Password">
    <label for="password-login">Password</label>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>

<br>

<form class="form-group signup-form">
  <div class="form-floating mb-3">
    <input type="text" class="form-control general-form" id="username-signup" placeholder="Username">
    <label for="username-signup">Username</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control general-form" id="email-signup" placeholder="name@example.com">
    <label for="email-signup">Email Address</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control general-form" id="password-signup" placeholder="Password">
    <label for="password-signup">Password</label>
  </div>
  <button type="submit" class="btn btn-primary">SignUp</button>
</form>

<script src="/javascript/login.js"></script>